<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <title>ToDo|Signup</title>
    <link rel="stylesheet" href="../public/css/global2.css" />
    <link rel="stylesheet" href="../public/css/signup.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap" />
  </head>
  <body>
    <div class="desktop">
      <header class="main">
        <div class="login-container">

          <div class="logo">
            <img class="logo-icon" loading="lazy" alt="" src="../public/images/logo.png"/>

            <h1 class="travalizer">Sign Up</h1>
          </div>

          <form class="login-form">
            <div class="form-group">
              <label for="username">Username</label>
              <div class="username-input">
                <input class="form-control" type="text" id="username" name="username" required>
              </div>
            </div>
          
            <div class="form-group">
              <label for="email">Email</label>
              <div class="email-input">
                <input class="form-control" type="email" id="email" name="email" required>
              </div>
            </div>
          
            <div class="form-group">
              <label for="password">Password</label>
              <div class="password-input">
                <input class="form-control" type="password" id="password" name="password" required>
              </div>
            </div>
          
            <div class="form-group">
              <label for="confirm-password">Confirm Password</label>
              <div class="confirm-password-input">
                <input class="form-control" type="password" id="confirm_password" name="confirm_password" required>
              </div>
            </div>
          
            <div class="button">
              <button type="submit" class="login-button" id="login-button">Back</button>
              <button type="submit" class="signup-button" id="signup-button">Sign Up</button>
            </div>
          </form>
          
          
        </div>
        <img class="illustration-icon" loading="lazy" alt="" src="../public/images/pic3.jpg"/>
        <script src="../public/js/signup.js"></script>
      </header>
    </div>
  </body>
</html>
